# composer
/vendor/

# Pastas de IDE
nbproject
.buildpath
.project
.settings
.komodotools
.idea
.metadata

# Pastas
public/uploads/*.png
public/uploads/*.jpg
public/uploads/*.txt
public/uploads/*.pdf

# Extensoes de IDE
*.swp
*.sublime-project
*.sublime-workspace
*.kpf
*.komodoproject

# docker
.env