# composer
/vendor/

# Pastas de IDE
nbproject
.buildpath
.project
.settings
.komodotools
.idea
.metadata

# Pastas
public/uploads/*

# Extensoes de IDE
*.swp
*.sublime-project
*.sublime-workspace
*.kpf
*.komodoproject

# docker
.env